@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #f97316;
  --color-primary-dark: #ea580c;
  --color-primary-light: #fb923c;
  --color-accent: #fdba74;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-gray-50 text-gray-900 font-sans;
}
